button[data-type="createItem"] {
    width: 100px;
    height: 100px;

    font-size: 50px;
    color: dodgerblue;
    border-radius: 50%;
    background-color: gray;

    position: fixed;
    right: 50px;
    bottom: 50px;
}

#searchTag {
    height: 40px;
    margin: 1rem;
    position: fixed;
    top: 5px;
    left: 5px;
    display: block;
}

#app{
    flex-direction: column;
}